<div *ngIf="user" class="container-u">
  <h2 class="center"><b>Welcome, {{user.userName | titlecase}}!</b></h2>
  <h4>List of your vehicles</h4><hr>
  <ul *ngFor="let vehicle of user.vehicleList" class="collection">
  <li class="collection-item avatar">
    <img src="{{vehicle.imgLink}}" alt="" class="circle">
    <span class="title red-text"><b>{{vehicle.brand_name}} {{vehicle.model_name}}</b></span>
    <p> <span class="nick-name">{{vehicle.nickName}}</span> <br>
       {{vehicle.description}}
    </p>
    <a routerLink="/{{vehicle.brand_name}}/{{vehicle.model_name}}/{{vehicle.id}}" class="secondary-content"><span class="badge">{{vehicle.logList.length}} logs</span></a>
  </li>
  </ul>
  <a (click)="showAddForm()"class="waves-effect waves-light btn-large"><i *ngIf="!isFormShown[0]" class="material-icons right">add</i>{{isFormShown[1]}}</a>
  <form *ngIf="isFormShown[0]">
    <div class="row">
      <div class="input-field col s4">
        <input [(ngModel)]="brand" name="brand" id="brand" type="text" class="validate">
        <label for="brand">Brand</label>
      </div>
      <div class="input-field col s4">
        <input [(ngModel)]="model" name="model" id="model" type="text" class="validate">
        <label for="model">Model</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <input [(ngModel)]="color" name="color" id="color" type="text" class="validate">
        <label for="color">Color</label>
      </div>
      <div class="input-field col s4">
        <input [(ngModel)]="nickName" name="nick" id="nick" type="text" class="validate">
        <label for="nick">Nick name</label>
      </div>
    </div>
    <div class="row">
    <div class="input-field col s6">
      <input [(ngModel)]="imgLink" name="imgLink" id="img" type="text" class="validate">
      <label for="img">Image Link</label>
    </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input [(ngModel)]="description" name="description" id="description" type="text" class="validate">
        <label for="description">Description</label>
      </div>
      <div class="input-field col s2">
        <a (click)="addVehicle()" class="btn">Add</a>
      </div>
    </div>
  </form>
</div>

