<nav>
  <div class="nav-wrapper">
    <div class="breadcrumb br-container">
      <a routerLink="/" class="breadcrumb">Home</a>
      <a routerLink="/{{currentBrandName}}" class="breadcrumb">{{currentBrandName}}</a>
    </div>
  </div>
</nav>
<div class="container">
  <h2 class="center">{{currentBrandName}}</h2>
</div>
  <div class="row">
    <div *ngFor="let model of models" class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="{{model.imgLink}}">
          <span class="card-title">{{currentBrandName}} {{model.name}}</span>
        </div>
        <div class="card-action">
          <a routerLink="/{{currentBrandName}}/{{model.name}}">See vehicles</a>
        </div>
      </div>
    </div>
  </div>

