<ul *ngIf="log.commentList" class="collection">
  <a *ngIf="!newComment && currentUser" (click)="changeNewComment()" class="waves-effect waves-light btn"><i class="material-icons right">create</i>New comment</a>
  <form *ngIf="newComment">
    <div class="row">
      <div class="input-field col s4">
        <input [(ngModel)]="content" name="content" id="content" type="text" class="validate">
        <label for="content">Comment</label>
      </div>
      <div class="input-field col s4">
        <a (click)="addComment()" class="waves-effect waves-light btn">Add Comment</a>
        <a (click)="changeNewComment()" class="waves-effect red btn">Cancel</a>
      </div>
    </div>
  </form>
  <li *ngFor="let comment of log.commentList.reverse()" class="collection-item avatar">
    <i class="material-icons circle">folder</i>
    <span *ngIf="users" class="title"><b>{{comment.user_name| titlecase}}</b></span>
    <span *ngIf="currentUser">
   <a (click)="deleteComment(log.vehicle_id, comment.log_id, comment.id)" *ngIf="comment.user_id === currentUser.id" class="secondary-content"><i class="material-icons">delete</i></a>
   </span>
    <p>{{comment.textContent}}<br>
      <span class="grey-text lighten-3">{{comment.dateCreated}}</span>
    </p>
  </li>
</ul>
