.description{
  margin-left: 20px ;
}

.log{
  margin-left: 20px;
}
.confirm{
  margin-left: 600px;
  margin-right: 600px;
  padding-bottom: 2px;
  background-color: red;
  color: white;
}
.icon-color-add{
  color: #26A69A;
}
.icon-color-hide{
  color: red;
}
.material-icons{
  cursor: pointer;
}
