<div *ngIf="vehicle" class="container-fluid">
  <h5 class="center"> - {{brandName}} {{modelName}} - </h5>
  <h3 class="center"><strong>{{vehicle.nickName}}</strong></h3>
  <div class="center">
    <img height="400px" src="{{vehicle.imgLink}}">
  </div>
  <div class="description">
    <h3>Description</h3>
    <hr>
    <p>{{vehicle.description}}</p>
  </div>
  <div class="description">
    <h3>Logs</h3>
    <hr>
  </div>
  <div *ngFor="let log of vehicle.logList, let i = index" class="log">
  <div class="card horizontal">
    <div class="card-image">
      <img height="200px" src="{{log.imgLink}}">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h5><i>{{log.title}}</i></h5>
        <p>{{log.content}}</p>
      </div>
      <div class="card-action">
        <a (click)="isShown(i)">See Comments</a>
      </div>
    </div>
  </div>
  <app-comments *ngIf="showComments[i]" [log]="log"></app-comments>
</div>
</div>

