<div *ngIf="vehicle" class="container-fluid">
  <h5 class="center"> - {{brandName}} {{modelName}} - </h5>
  <h3 class="center"><strong>{{vehicle.nickName}}</strong></h3>
  <div class="center">
    <img height="400px" src="{{vehicle.imgLink}}">
  </div>
  <div *ngIf="vehicle.user_id === currentUserId" class="center">
<!--  <a class="waves-effect waves-light btn-small">Update</a>-->
  <a (click)="confirmDeleteVehicle()" class="waves-effect red btn-small">Delete</a>
  </div>
  <div *ngIf="confirmDelete" class="confirm center">
    <p><b>Please, confirm delete:</b><br><a (click)="deleteVehicle()" class="btn-small orange">Delete</a></p>
  </div>
  <div class="description">
    <h3>Description</h3>
    <hr>
    <p>{{vehicle.description}}</p>
  </div>
  <div class="description">
    <h3>Logs
      <div *ngIf="vehicle.user_id === currentUserId" >
      <i *ngIf="!showAddLog" (click)="changeShowAddLogs()" class="small material-icons icon-color-add">add_circle</i>
      <i *ngIf="showAddLog" (click)="changeShowAddLogs()" class="small material-icons icon-color-hide">expand_less</i>
      </div>
    </h3>
    <div *ngIf="showAddLog" class="add-log">
      <form>
        <div class="row">
          <div class="input-field col s4">
            <input [(ngModel)]="title" name="title" id="title" type="text" class="validate">
            <label for="title">Title</label>
          </div>
          <div class="input-field col s4">
            <a (click)="addLog()" class="waves-effect waves-light btn">Add Log</a>
          </div>
          </div>
        <div class="row">
          <div class="input-field col s10">
            <input [(ngModel)]="content" name="content" id="content" type="text" class="validate">
            <label for="content">Content</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s10">
            <input [(ngModel)]="imgLink" name="img" id="img" type="text" class="validate">
            <label for="img">Image Link</label>
          </div>
        </div>
        <div class="input-field col s6">
          <p *ngIf="errorText" class="center-align red-text">{{errorText}}</p>
        </div>
      </form>
    </div>
    <hr>
  </div>
  <div *ngFor="let log of vehicle.logList.reverse(), let i = index" class="log">
  <div class="card horizontal">
    <a *ngIf="vehicle.user_id === currentUserId" (click)="deleteLog(log.id)" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">clear</i></a>
    <div class="card-image">
      <img src="{{log.imgLink}}">
    </div>

    <div class="card-stacked">
      <div class="card-content">
        <h5><i>{{log.title}}</i></h5>
        <p>{{log.content}}</p>
      </div>
      <div class="card-action">
        <a (click)="isShown(i)">See Comments</a>
      </div>
    </div>
  </div>
  <app-comments *ngIf="showComments[i]" [log]="log"></app-comments>
</div>
</div>

