<div *ngIf="vehicle" class="container-fluid">
  <h5 class="center"> - {{brandName}} {{modelName}} - </h5>
  <h3 class="center"><strong>{{vehicle.nickName}}</strong></h3>
  <div class="center">
    <img height="400px" src="{{vehicle.imgLink}}">
  </div>
  <div class="description">
    <h3>Description</h3>
    <hr>
    <p>{{vehicle.description}}</p>
  </div>
  <div class="description">
    <h3>Logs</h3>
    <hr>
  </div>
  <div *ngFor="let log of vehicle.logList" class="card horizontal">
    <div class="card-image">
      <img height="150px" src="{{log.imgLink}}">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>Lorem</p>
      </div>
      <div class="card-action">
        <a>Link</a>
      </div>
    </div>
  </div>
</div>

